<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário NLP</title>
</head>
<body>
    <h1>Reconhecimento de Clientes e Estados</h1>
    <br><p>Preeencha com nome, endereço, email e telefone e/ou whatsapp</p></br>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.user_input.label }}<br>
            {{ form.user_input(rows=5, cols=40) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li><strong>{{ category.title() }}:</strong> {{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
