<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Form</title>
</head>
<body>
    <h1>Cadastro de Informações</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=40) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=40) }}
        </p>
        <p>
            {{ form.phone.label }}<br>
            {{ form.phone(size=40) }}
        </p>
        <p>
            {{ form.state.label }}<br>
            {{ form.state(size=40) }}
        </p>
        <p>
            {{ form.city.label }}<br>
            {{ form.city(size=40) }}
        </p>
        <p>
            {{ form.address.label }}<br>
            {{ form.address(size=40) }}
        </p>
        <p>
            {{ form.bairro.label }}<br>
            {{ form.bairro(size=40) }}
        </p>
        <p>
            {{ form.numero.label }}<br>
            {{ form.numero(size=20) }}
        </p>


        <p>

                  <div>
        {{ form. reg_date.label }}<br>
        {{ form. reg_date() }}
    </div>

        </p>

        <div>
        {{ form.status.label }}<br>
        {{ form.status() }}<br>  <!-- This will render the dropdown -->
    </div>

        <p>
            {{ form.submit }}
        </p>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li><strong>{{ category }}</strong>: {{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <br>
     <p><a href="/search">Pesquisa de usuário</a></p>
    <p><a href="/dashboard">Dashboard</a></p>
</body>
</html>