<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit User</title>
</head>
<body>
    <h1>Vizualiar e/ou editar clientes.</h1>
    <form method="POST">
        {{ form.csrf_token }}

        <p>{{ form.name.label }} {{ form.name(size=20) }}</p>

        <p>{{ form.email.label }} {{ form.email(size=20) }}</p>

        <p>{{ form.phone.label }} {{ form.phone(size=20) }}</p>

        <p>{{ form.state.label }} {{ form.state(size=20) }}</p>

        <p>{{ form.city.label }} {{ form.city(size=20) }}</p>

        <p>{{ form.address.label }} {{ form.address(size=20) }}</p>

        <p>{{ form.bairro.label }} {{ form.bairro(size=20) }}</p>

        <p>{{ form.numero.label }} {{ form.numero(size=20) }}</p>

        <p>
            <div>
                {{ form.start_date.label }}<br>
                {{ form.start_date() }}  <!-- This will render the date input field -->
            </div>
        </p>

        <p>
            <label>{{ form.email_body.label }}</label><br>
            {{ form.email_body(rows=10, cols=50) }}
        </p>

        <p>
            <div>
                {{ form.status.label }}<br>
                {{ form.status(style="width: 100px;") }}<br>  <!-- Set a specific width for the dropdown -->
            </div>
        </p>

        <p>
            <button type="submit">{{ form.submit.label }}</button>
        </p>
    </form>

    <h1>Detalhes do usuário</h1>

    <p><strong>Nome:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Telefone:</strong> {{ user.phone }}</p>

    <form method="POST" action="/delete/{{ user.id }}" style="display: inline;">
        {{ form.csrf_token }}
        <p>
            <button type="submit" onclick="return confirm('Tem Certeza que quer remover este usuário??');">
                Excluir Usuário
            </button>
        </p>
    </form>

</body>
</html>
